@keyframes vibration {
    from {
      transform: translateX(1px);
    }
    to {
      transform: translateX(-1px);
    }
  }


.badge {
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-weight:600;
    animation: vibration .2s infinite;
}

